<h1> <%= @restaurant.name %> </h1>
<ul>
  <li> Cusine: <%= @restaurant.category %> </li>
  <li> Address: <%= @restaurant.address %></li>
</ul>

<p><%= link_to 'Back to restaurants', restaurants_path %></p>
